<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Parcial Moviles I
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Parcial Moviles I</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Andres Felipe Reyes</ion-card-subtitle>
      <ion-card-title>Consumo de Json</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ionic, Angular and TypeScript.
    </ion-card-content>
  </ion-card>


</ion-content>
